<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First App</title>
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">
</head>
<body>
    <h1>This in my first django powered page</h1>
    {% if insert_me %}
    <table>
        <thead>
            <th>name</th>
            <th>date</th>
        </thead>
        {% for element in insert_me %}
        <tr>
            <td>{{ element.name }}</td>
            <td>{{ element.date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>No site accessed yet</h1>
    {% endif %}
</body>
</html>